name: Build feature-branch

on:
  push:
    branches-ignore:
      - main
      - sandbox

jobs:
  build:
    name: Build feature branch
    permissions:
      contents: "read"
      checks: "write"
      id-token: "write"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: ~/.m2
          key: "${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}"
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Configure JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Build
        shell: bash
        run: |
          mvn clean install
